<%
  var data = D.data || {};
  var states = D.states || {};
  var button = data.button || _._('Close');
  var game = _.game();
  var user = game.data.user;
  var currentLocale = data.currentLocale || 'de';
%>
<div class="PopupBody User">
  <div class="PopupHeader">
    <div class="PopupClose">X</div>
    <div class="PopupLogo"><div class="MainSpritesPopup User"></div></div>
    <div class="PopupTitle"><%= data.title %></div>
    <div class="PopupText"><%= data.description %></div>
    <div class="PopupMenu">
      <div class="PopupMenuButton active" data-tab="settings"><% print(_._('user Account')); %></div>
      <% if (game.setup.userdebug) { %>
      <div class="PopupMenuButton" data-tab="debug"><% print(_._('userdebug tab')); %></div>
      <% } %>
    </div>
  </div>
  <div class="PopupContent">
    <div class="PopupTab" data-tab="settings">
      <div class="SubpopContainer">
      </div>
      <div class="PopupContentText">
        <div class="PopupTitle"><% print(_._('user Dein Account')); %></div>
        <div class="PopupList">
        <%
            print(_.renderView('form_displayname.html', {
              D: D
            }));
        %>
        </div>
      </div>
      <div class="PopupContentText">
        <div class="PopupParagraph"><% print(_._('user text below'));  %></div>
      </div>
      <div class="PopupContentText">
        <div class="PopupTitle"><% print(_._('language switcher title')); %></div>
        <div class="LangSwitcher">
          <div class="Button<%= currentLocale === 'en' ? ' active' : '' %>" data-button-id="SetLocaleButton" data-locale="en">EN</div>
          <div class="Button<%= currentLocale === 'de' ? ' active' : '' %>" data-button-id="SetLocaleButton" data-locale="de">DE</div>
        </div>
      </div>
      <div class="PopupButtons">
        <div class="Button" data-button-id="MainButton"><%= button %></div>
      </div>
    </div>
    <% if (game.setup.userdebug) { %>
    <div class="PopupTab hidden" data-tab="debug">
      <div class="SubpopContainer">
      </div>
      <div class="PopupContentText">
        <div class="PopupTitle"><% print(_._("userdebug reset game headline")); %></div>
        <div class="PopupParagraph">
          <% print(_._("userdebug reset game text")); %>
        </div>
      </div>
      <div class="PopupButtons">
        <div class="Button sell" data-button-id="ResetButton"><% print(_._('Reset Game')); %></div>
      </div>
    </div>
    <% } %>

  </div>
</div>
