<%
  var game = _.game();
  var data = D.gameNode.data;
  var type_titles = data.type_titles;
%>

<div class="TopscoreHeader">
  <div class="TopscoreDiv DisplayNameEdit">
    <%
        print(_.renderView('form_displayname.html', {
          D: D
        }));
    %>
  </div>

 <div class="ViewTabMenu">
  <% _.each(type_titles, function(title, type){ %>
   <div class="ViewTabMenuButton" data-button-id="ViewTabMenuButton" data-button-gestalt="<%= type %>"><%= title %></div>
  <% }); %>
 </div>
</div>

